<!DOCTYPE html>
<html lang="{{ site.lang }}">

  <!-- Head -->
  <head>
  {%- if page.redirect -%}
    <meta http-equiv="refresh" content="3; url={{ site.baseurl }}/" />
  {%- endif -%}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "HowTo",
      "name": {{ page.title | jsonify }},
      "image": {
        "@type": "ImageObject",
        "width": {{ page.img_width | default: site.img_width }},
        "height": {{ page.img_height | default: site.img_height }},
        "url": "{{ site.url }}{{ page.img_url | default: site.img_url }}"
      },
      "estimatedCost": {
        "@type": "MonetaryAmount",
        "currency": "USD",
        "value": "0"
      },
      "tool": [
        {
          "@type": "HowToTool",
          "name": "Android phone"
        }, {
          "@type": "HowToTool",
          "name": "Tesla Display App"
        }
      ],
      "step": [
        {%- if site.data.steps -%}
          {%- for curr_page in site.data.steps -%}
            {%- if curr_page.page == page.name -%}
              {%- for curr_step in curr_page.steps -%}
                {
                  "@type": "HowToStep",
                  "url": "{{ site.url }}{{ curr_step.step_url}}",
                  "name": {{ curr_step.step_name }},
                },
              {%- endfor -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      ],
      "totalTime": "P2D"
    }
  </script>  
  {% include head.html %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">

    <!-- Header -->
    {%- include header.html %}

    <!-- Content -->
    <div class="container mt-5">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == "right" %}
        <div class="row">
          <!-- main content area -->
          <div class="col-sm-9">
            {{ content }}
          </div>
          <!-- sidebar, which will move to the top on a small screen -->
          <div class="col-sm-3">
            <nav id="toc-sidebar" class="sticky-top"></nav>
          </div>
        </div>
        {% else %}
        <div class="row">
          <!-- sidebar, which will move to the top on a small screen -->
          <div class="col-sm-3">
            <nav id="toc-sidebar" class="sticky-top"></nav>
          </div>
          <!-- main content area -->
          <div class="col-sm-9">
            {{ content }}
          </div>
        </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {%- include footer.html %}

    <!-- JavaScripts -->
    {% include scripts/jquery.html %}
    {% include scripts/bootstrap.html %}
    {% include scripts/masonry.html %}
    {% include scripts/misc.html %}
    {% include scripts/badges.html %}
    {% include scripts/mathjax.html %}
    {% include scripts/analytics.html %}
    {% include scripts/progressBar.html %}
  </body>
</html>
